* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: pink;
  font-family: Arial;
  font-size: 20px;
  padding: 75px;
}

#course-image {
  width: 500px;
  height: 300px;
}

h1 {
  font-size: 40px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  /* text-align: center; */
}

p {
  margin-bottom: 20px;
}

#your-name {
  background-color: blanchedalmond;
  border: 5px solid burlywood;
  border-radius: 10px;
  padding: 25px;
  width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}
